aiodns
aiofiles
aiohttp[speedups]
asyncbooru>=0.0.5
asyncpraw
cchardet
gTTS
hachoir
pillow
psutil
speedtest-cli
sqlalchemy
tgcrypto
Pafy
youtube-dl
https://github.com/Nick80835/Telethon/archive/master.zip